body {
  background-image: linear-gradient(
    180deg,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12;
  margin: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: row;
  }
}
.faq {

}
.container {
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  max-height: 445px;
  /* overflow: hidden; */
  margin: auto;
}

.element {
  padding: 4rem;
  background-color: aliceblue;
  border-radius: 10px;
}
.picture {
  margin: 1em;
}
.desktop-picture {
  max-width: 400px;
}
.faq {
  margin: 1rem;
}
details {
  text-decoration: none;
  margin: 0, 1rem;
}
details > summary {
  list-style: none;
  cursor: pointer;
}
details summary:hover {
  color: orange;
}
details[open] > summary {
  font-weight: 700;
}
hr {
  color: hsl(240, 5%, 91%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
