body {
  background-image: linear-gradient(
    180deg,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  /* font-size: 12px; */
  margin: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: hsl(240, 6%, 50%);
}

b,
h1 {
  color: hsl(238, 29%, 16%);
}

.faq {
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  max-width: 900px;
  max-height: 445px;
  margin: auto;
}

.element {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 1px 10px;
  background-color: white;
  border-radius: 20px;
}
.picture {
  margin: 1em;
}
.desktop-picture {
  max-width: 400px;
}
#bg-pattern {
  z-index: -1;
}
.faq {
  padding: 2rem;
  margin: 1rem;
}
.sum{
  direction: ltr;
}
details {
  text-decoration: none;
  margin: 0, 1rem;
  text-align: left;
}
details > summary {
  list-style-image: url(../images/icon-arrow-down.svg);
  cursor: pointer;
  direction: rtl;
  text-align: left;
  list-style-position: inherit;
  color: hsl(237, 12%, 33%);
}
details summary:hover {
  color: hsl(14, 88%, 65%);
}
details[open] > summary {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}
details[open] > summary::marker {
  transform: rotate(180deg);
}
hr {
  color: hsla(240, 4%, 91%, 0.418);
  width: calc(100% + 1.5rem);
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .element {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 80vw;
    padding: auto;
  }
  .picture {
    width: 50vw;
  }
  .faq {
    text-align: center;
  }

  .mobile-picture {
    position:absolute;
    top: 10px;
    z-index: 99;
    width: 60vw;
    margin: auto;
  }
}

@media screen and (min-width: 800px) {
  .picture,
  .desktop-picture {
    margin-left: 0px;
    right: 70px;
position: relative;
  }
  .element {
    padding: 4rem;
    padding-left: 0px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
footer {
  position: fixed;
  bottom: 0;
  display: block;
  margin: auto;
  justify-content: center;
}
