body {
  background-image: linear-gradient(
    180deg,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12;
  margin: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: hsl(238, 29%, 16%);
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .element{
    display: flex;
    flex-direction: column;
  }
}
.faq {
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  max-width: 900px;
  max-height: 445px;
  /* overflow: hidden; */
  margin: auto;
}

.element {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  background-color: aliceblue;
  border-radius: 10px;
}
.picture {
  margin: 1em;
}
.desktop-picture {
  max-width: 400px;
}
.faq {
  margin: 1rem;
}
details {
  text-decoration: none;
  margin: 0, 1rem;
  text-align: left;
}
details > summary {
  list-style-image: url(../images/icon-arrow-down.svg);
  cursor: pointer;
  direction: rtl;
  text-align: left;
  list-style-position: inside;
}
details summary:hover {
  color: hsl(14, 88%, 65%);
}
details[open] > summary {
  font-weight: 700;
}
details[open] > summary {
  font-weight: 700;
}
details[open] > summary::marker {
  transform: rotate(180deg);
}
hr {
  color: hsl(240, 5%, 91%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
footer {
  position: fixed;
  bottom: 0;
  display: block;
  margin: auto;
}
